/* *{
    padding: 0;
    margin: 0;
} */

/* Level 2 */

.level2 {
  height: 100px;
  width: 200px;
  background-color: pink;
  text-align: center;
  border: 2px dotted black;
  border-radius: 50%;
  padding-top: 70px;
  margin: 50px;
}
h1 {
  background-color: aquamarine;
  text-align: center;
  border: 3px dashed black;
  border-radius: 20px;
}

/* Practice 1 */

.practice1{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
.trafic{
    height: 320px;
    width: 120px;
    background-color: gray;
}
.rCircle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 10px;
}
.yCircle{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 10px;
}
.gCircle{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 10px;
}


/* Practice 2 */

.navBar{
    height: 60px;
    background-color: #0f1111;
}
.btnsearch{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#practice2{
    margin-right: 200px;
    text-decoration: none;
}


/* practice 3 */
 
.practice3{
    background-color: pink;
    display: inline;
}
#practice3{
    display: block;
}


/* level 2 */

#DisplayPlayground {
  height: 100px;
  width: 100px;
  margin: 25px;
  padding: 25px;
  display: inline-block;
}
.box1 {
  background-color: blue;
}
.box2 {
  background-color: green;
  visibility: hidden;
  display: none;
}
.box3 {
  background-color: rgb(255, 0, 0, 0.5);
}

/* practice 4 */

.navBar{
    height: 60px;
    background-color: #0f1111;
}
.btnsearch{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#practice4{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width: 170px;
    border:2px solid black;
    display: inline-block;
}
.first{
    background-color: rgba(255, 0, 0,0.5);
    
}
.second{
    background-color: rgba(0, 255, 0,0.5);
}
.third{
    background-color: rgba(0, 0, 255,0.5);
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}
#content{
    height: 534px;
}

