.transform{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: red;
    /* transform: rotate(45deg); */
    transition: all 0.5s ease-in;
}
.transform:hover{
    transform: scale(1.5);
    transform: rotate(360deg);
    transform: translate(200px,200px);
    transform: skew(25deg);
}
